DJANGO_POSTGRES_HOST=postgres
DJANGO_POSTGRES_PORT=5432
DJANGO_POSTGRES_DB={{ cookiecutter.db_name }}
DJANGO_POSTGRES_USER={{ cookiecutter.db_user }}
DJANGO_POSTGRES_PASSWORD={{ cookiecutter.db_password }}
